body{
	font-family: 'Lato', sans-serif;
}
.top-bar ul.header-contact {

    padding: 0px;
    list-style: none;
    margin-left: 35px;

}
.top-bar{
	background:#242c42;
	color:#fff;
	padding:8px;
}
.top-bar ul.header-contact{
	padding:0px;
    list-style:none;
	
}
.top-bar ul.header-contact li{
	display:inline;
	margin-right:20px;
}
.top-bar ul.header-contact li a
{
	color:#fff;
	font-size:11px;
}
.top-bar ul.header-contact li a i{
	color:#86bc42;
	margin-right:5px;
}

.top-bar ul.header-social{
	padding:0px;
	list-style:none;
	margin:0px;
}
.top-bar ul.header-social li{
	float:left;
	padding:0px 15px;
	
}
.top-bar ul.header-social li a
{
	color:#fff;
	font-size:12px;
	
}
.top-bar ul.header-social li a:hover{
	color:#86bc42;
}
.header-user {
	padding:0px;
    list-style:none;
	float:right;
	margin:0px;
}
.header-user li{
	float:left;
	
	
}
.header-user li a{
	color:#fff;
	padding:0px 15px;
    border-right:1px solid #fff;
	font-size:12px;
}
.header-user li:last-child a{
	border:none;
}

.top-bar a:hover{
	text-decoration:none;
}

/* Navigation */
.navbar-panel
{
position:relative;
z-index:1;
-webkit-box-shadow: 0px 2px 17px -4px rgba(102,102,102,0.69);
-moz-box-shadow: 0px 2px 17px -4px rgba(102,102,102,0.69);
box-shadow: 0px 2px 17px -4px rgba(102,102,102,0.69);
}
.mynavbar {
	background:none;
	border:none;
	margin-bottom:0px;
	
}
.mynavbar .navbar-nav>li{
	padding:0px 15px;
}
.mynavbar .navbar-nav>li>a {
    text-transform:uppercase;
	line-height: 100px;
	padding:0px;
	font-size:14px;
	color:#242c42;
	border-bottom:5px solid #fff;
}
.mynavbar .navbar-nav>li>a:hover{
	border-bottom:5px solid #86bc42;
	color:#86bc42;
	
}
.navbar-right {

    float: right !important;
    margin-right: -15px;
    margin-top: 46px;

}
.navbar-panel span {
    float:right;
}
/* End Navigation */
/* index slider */
.carousel-indicators li{
    width:16px;
    height:16px;
    margin:2px;
    border:2px solid #bfc6d7;
    background:none;
}
.carousel-indicators .active{
    background:#87d37c;
    border:2px solid #87d37c;
    width:16px;
    height:16px;
    margin:2px;
    
}


.slider h2{
    color:#242C42;
    font-size:60px;
    font-family: inherit;
	text-shadow:none;
	font-weight:bold;
}
.slider h5{
    font-weight:300;
	color:#242c42;
	font-size:30px;
	text-shadow:none;
}
.slider p{
    color:#242C42;
}
.slider .btn{
    background-color:#86BC42;
    color: #fff;
	border-radius:0px;
	font-size:20px;
	padding:6px 20px;
}
.carousel-caption{
	
}
.carousel-caption.text-left{
   text-align:left;
   left:8%;
	width:60%;
   
}
/* END of slider */
/*content */
.box {

    height: 250px;
    width: 365px;
    background: #bdc3c7;
    margin: 10px 10px;
    border-radius:10%;
    padding:10px

}

.box h3{
    padding:15px;
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
.box span{
    padding : 20px;
}
.box:hover{
    background-color:#e74c3c;
    color:#fff;
}
.what{
    margin :20px;
}
.what h2{
    font-weight:bold;
    
} 
 .what span{
     padding:25px;
 } 
.how{
    margin :20px;
}
.how h2{
    font-weight:bold;
    
} 
 .how span{
     padding:25px;
 }
.why{
    margin :20px;
}
.why h2{
    font-weight:bold;
    
} 
 .why span{
     padding:25px;
 } 
/*end of content*/
/* Footer */
.footer-area{
    background-color:#242C42;
   
}


ul.footer-nav{
	padding:0px;
	list-style:none;
}
ul.footer-nav li
{
	float:left;
}
ul.footer-nav li a{
	font-size:10px;
	padding-right:20px;
	color:#6f7279;
}
ul.footer-nav li a:hover
{
	text-decoration:none;
	color:#86BC42;
}
.copyright{
    
	color:#6f7279;
	font-size:10px;
}

.fotter-bottom
{
	padding:20px 0px;
	border-top:1px solid #3d4558;
}
/* End of Footer */

